/* Sintaxe

seletor{
      propriedade: valor
}      

*/

p{
    color: purple;
}


h1{
    /* Nome da cor */
    color: blue;

    /* Código */
    color: #9f0000;

    /* RGB */
    color: rgb(0, 157, 242);

    /* RGBA */

    color: rgba(5, 101, 72, 0.52);
}

h2 {
    color: whitesmoke;
}

h3 {
    color: gold;
}

p{
    /* Altera a cor da fonte */
    color: #000;
    /* Altera a familia da fonte */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* Altera o tamanho da fonte */
    font-size: 50px;

    /* Espessura da fonte  */
    font-weight: 600;

    /* Distância da linha */
    line-height: 65px;

    /* Transformando textos */
    text-transform: lowercase;
}

.box{
    /* width: 200px;
    height: 100px; */
    background-color: blueviolet;
    padding: 10px;
    border: 5px;
    margin: 40px;
}

.elemento{
    padding: 10px;
    font-size: 50px;
    font-weight: 40;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 20px dotted #000;
    color: gray;
    background-color: lightblue;
}

    
    .elementoverde{
        padding: 15px 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border: 5px solid #000;
        color: black;
        background-color: #5cfe62;
        border-radius: 10px;
        margin-left: 20px;
        margin-left: 50px;
        text-transform: uppercase;


    }



